<div class="login">
  <mat-card class="mat-elevation-z0">
    <button
      mat-mini-fab
      color=""
      class="mat-icon-button-close mat-elevation-z0"
      mat-dialog-close
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-card-header>
      <mat-card-title>
        Acceder
      </mat-card-title>
      <mat-card-subtitle>
        Accede para participar en las encuestas y crear las tuyas propias
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="field-container">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              required
              placeholder="email@ejemplo.com"
            />
            <mat-icon matSuffix>email</mat-icon>
            <div *ngIf="isSubmitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Campo necesario</div>
              <div *ngIf="f.email.errors.email">Formato incorrecto</div>
            </div>
          </mat-form-field>
        </div>
        <div class="field-container">
          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              [type]="hidePassword ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Ocultar contraseña'"
              [attr.aria-pressed]="hidePassword"
            >
              <mat-icon>{{
                hidePassword ? 'visibility_off' : 'visibility'
              }}</mat-icon>
            </button>
            <div
              *ngIf="isSubmitted && f.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.password.errors.required">Campo necesario</div>
            </div>
          </mat-form-field>
        </div>
        <button [disabled]="isLoading" mat-raised-button color="primary">
          <span
            *ngIf="isLoading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Entrar
        </button>
      </form>
      <div fxLayout="row" fxLayoutAlign="center center">
        <a mat-button [mat-dialog-close]="'register'">No tengo cuenta</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
