<div *ngIf="survey" class="survey-detail">
  <h1>
    {{ survey.question }}
  </h1>
  <div fxLayout="row" class="survey-result">
    <div fxFlex="30">
      <img src="https://via.placeholder.com/440x293" alt="Lorem ipsum dolor" />
    </div>
    <div
      fxFlex="70"
      fxLayout="row"
      fxLayoutAlign="space-evenly stretch"
      class="votes"
    >
      <div
        *ngFor="let answer of surveyAnswers"
        fxFlex="33"
        fxLayout="column"
        fxLayoutAlign="space-evenly center"
        class="vote"
      >
        <mat-icon *ngIf="answer._id === 1">thumb_up_alt</mat-icon>
        <mat-icon *ngIf="answer._id === 2">thumb_down_alt</mat-icon>
        <b *ngIf="answer._id === 3" class="ns-nc">NS/NC</b>
        <span>{{ answer.percent || 0 }}%</span>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="survey-vote">
    <div fxFlex="30" class="vote-status">
      <ng-container *ngIf="!vote?._id; else you_voted"
        >Aún no has votado en esta encuesta.<br />¿Qué opinas?</ng-container
      >
      <ng-template #you_voted>
        Ya has votado en esta escuesta.
      </ng-template>
    </div>
    <div fxFlex="70" class="vote-options">
      <mat-radio-group
        [(ngModel)]="myVote"
        (change)="onVoteChange($event)"
        fxLayout="row"
        fxLayoutAlign="space-evenly stretch"
        aria-label="Elige una opción"
      >
        <div
          *ngFor="let answer of surveyAnswers"
          fxFlex="33"
          fxLayout="column"
          fxLayoutAlign="space-evenly center"
        >
          <mat-radio-button [value]="answer._id" color="primary">{{
            answer.name
          }}</mat-radio-button>
        </div>
      </mat-radio-group>
    </div>
  </div>
  <h2>Tu opinión importa...</h2>
  <you-vote-comment-list
    *ngIf="survey.comments"
    [comments]="survey.comments"
  ></you-vote-comment-list>
  <h2>Deja un comentario...</h2>
  <you-vote-comment-add
    (commentAddEvent)="onCommentAddChange($event)"
  ></you-vote-comment-add>
</div>
