<div *ngIf="survey" class="survey-detail">
  <h1>
    {{ survey.question }}
  </h1>
  <div fxLayout="row" class="survey-result">
    <div fxFlex="30">
      <img
        src="assets/img/{{ survey.image.name }}"
        alt="{{ survey.image.name }}"
      />
    </div>
    <div
      fxFlex="70"
      fxLayout="row"
      fxLayoutAlign="space-evenly stretch"
      class="votes"
    >
      <div
        *ngFor="let answer of surveyAnswers"
        fxFlex="33"
        fxLayout="column"
        fxLayoutAlign="space-evenly center"
        class="vote"
      >
        <mat-icon *ngIf="answer._id === 1">thumb_up_alt</mat-icon>
        <mat-icon *ngIf="answer._id === 2">thumb_down_alt</mat-icon>
        <b *ngIf="answer._id === 3" class="ns-nc">NS/NC</b>
        <span>{{ answer.percent || 0 }}%</span>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="survey-vote">
    <div *ngIf="user" fxFlex="30" class="vote-status">
      <ng-container *ngIf="!vote?._id; else you_voted"
        >Aún no has votado en esta encuesta.<br />¿Qué opinas?</ng-container
      >
      <ng-template #you_voted>
        Ya has votado en esta escuesta.
      </ng-template>
    </div>
    <div *ngIf="user; else login_to_vote" fxFlex="70" class="vote-options">
      <mat-radio-group
        [(ngModel)]="myVote"
        (change)="onVoteChange($event)"
        fxLayout="row"
        fxLayoutAlign="space-evenly stretch"
        aria-label="Elige una opción"
      >
        <div
          *ngFor="let answer of surveyAnswers"
          fxFlex="33"
          fxLayout="column"
          fxLayoutAlign="space-evenly center"
        >
          <mat-radio-button [value]="answer._id" color="primary">{{
            answer.name
          }}</mat-radio-button>
        </div>
      </mat-radio-group>
    </div>
    <ng-template #login_to_vote>
      <div fxFlex="70" fxFlexOffset="30" class="vote-status">
        Para votar y dejar un comentario, por favor,
        <a (click)="openDialog('login')">inicia sesión</a>.
      </div>
    </ng-template>
  </div>
  <div class="comment-add">
    <h2>Deja un comentario...</h2>
    <you-vote-comment-add
      *ngIf="user; else login_to_comment"
      (commentAddEvent)="onCommentAddChange($event)"
    ></you-vote-comment-add>
    <ng-template #login_to_comment>
      Para compartir tu opinión, por favor,
      <a (click)="openDialog('login')">inicia sesión</a>.
    </ng-template>
  </div>
  <div class="comment-list">
    <h2>Tu opinión importa...</h2>
    <you-vote-comment-list
      *ngIf="survey.comments.length > 0; else no_comments"
      [comments]="survey.comments"
    ></you-vote-comment-list>
    <ng-template #no_comments>
      Nadie ha compartido su opinión todavía.
    </ng-template>
  </div>
</div>
