/*------------------------------------------------------------------
[MyAccount]
-------------------------------------------------------------------*/

:host {
  // ::ng-deep {
  .my-account {
    .field-container {
      &.field-slider-container {
        position: relative;
        .mat-slider {
          left: 0;
          margin: 0 -8px;
          position: absolute;
          right: 0;
        }
      }
    }
    h2 {
      margin: 3rem 0 2rem;
    }
    hr {
      margin: 3rem 0;
    }
    .mat-raised-button {
      margin: 1rem 0;
      min-width: 12.5rem;
    }
  }
  // }
}
