/*------------------------------------------------------------------
[MyAccount]
-------------------------------------------------------------------*/

:host {
  // ::ng-deep {
  .my-account {
    h2 {
      margin: 3rem 0 2rem;
    }
    hr {
      margin: 3rem 0;
    }
    .mat-raised-button {
      margin: 1rem 0;
      min-width: 12.5rem;
    }
  }
  // }
}
