/*------------------------------------------------------------------
[SurveyList]
-------------------------------------------------------------------*/

:host {
  // ::ng-deep {
  .survey-list {
    .survey {
      .votes {
        .vote {
          span {
            color: var(--color-black-500);
            display: block;
            font-size: 0.8em;
          }
          .mat-icon {
            font-size: 2em;
          }
        }
      }
      &.grid {
        .votes {
          .vote {
            + .vote {
              margin-top: 1rem;
            }
          }
        } 
      }
      &.list {
        margin: 2rem 0;
        .mat-card-image {
          height: 100%;
          margin: 0 -1rem;
          object-fit: cover;
          object-position: center;
        }
        .votes {
          .vote {
            .down {
              position: relative;
              top: 7px;
            }
            .ns-nc {
              display: inline-block;
              margin-bottom: 0.4rem;
            }
          }
        }
      }
    }
  }
  // }
}
