<div class="survey-list">
  <mat-card
    fxLayout="row"
    fxLayoutAlign="start strech"
    class="mat-elevation-z0 survey"
  >
    <a>
      <div fxFlex="80">
        <img
          mat-card-image
          src="https://via.placeholder.com/440x293"
          alt="Lorem ipsum dolor"
        />
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>¿Lorem ipsum dolor sit amet?</mat-card-title>
        </mat-card-header>
      </div>
      <div
        fxFlex="20"
        fxLayout="column"
        fxLayoutAlign="start start"
        class="mat-card-toolbar votes"
      >
        <div class="vote">
          <mat-icon>thumb_up_alt</mat-icon>
          <span>33%</span>
        </div>
        <div class="vote">
          <mat-icon>thumb_down_alt</mat-icon>
          <span>33%</span>
        </div>
        <div class="vote">
          <b>NS/NC</b>
          <span>33%</span>
        </div>
      </div>
    </a>
  </mat-card>
</div>